In [1]:
import pandas as pd

In [3]:
life_gpd = pd.read_excel('C:\\Users\\55169\\Desktop\\Life-Expectancy-and-GDP-Starter\\Life-Expectancy-and-GDP-Starter\\advanced.xlsx')

In [4]:
life_gpd.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Column1
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+14,2.963128e+14,2.983799e+14,3.092179e+14,3.202235e+14,3.368970e+14,2.610039e+14,3.126019e+14,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129152e+14,2.180944e+14,2.370806e+13,2.821128e+14,2.611994e+14,2.968348e+14,...,1.003403e+14,9.231439e+14,8.898593e+14,1.030482e+14,1.016697e+14,1.009052e+14,9.341791e+13,1.089454e+14,NaN,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+14,5.488889e+14,5.466667e+14,7.511112e+14,8.000000e+14,1.006667e+14,...,2.055058e+14,1.999816e+14,1.801956e+14,1.889635e+12,1.841885e+14,1.890449e+13,2.014344e+13,1.478686e+14,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+12,1.112789e+14,1.194319e+14,1.267633e+14,1.383837e+14,1.486223e+14,...,8.924979e+14,7.669580e+14,6.905454e+14,6.837480e+14,7.663597e+14,7.947191e+14,7.847997e+14,8.401873e+14,NaN,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+14,8.721930e+14,4.984049e+14,6.897277e+14,7.779294e+14,6.930911e+14,5.361907e+14,6.740429e+14,NaN,NaN